@media only screen and (max-width: 60rem) {
  #advice-container {
    width: 34.3rem;
    height: 34.7rem;
  }

  #advice {
    width: 34.3rem;
    height: 31.5rem;
    border-radius: 1rem;
  }

  #advice h1 {
    font-size: 1.1rem;
    letter-spacing: 0.35rem;
    margin-top: 4rem;
  }

  #advice p {
    width: 29.5rem;
    height: 13.2rem;
    font-size: 2.4rem;
    margin-top: 1.6rem;
  }

  .divider {
    width: 29.5rem;
    height: 1.6rem;
    margin-top: 3.2rem;
  }

  .dice {
    top: calc(31.5rem - 3.2rem);
  }
}
